*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 10vh;
    background-color: #393939;
    display: grid;
    place-items: center;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 30;
}

.app__heading{
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: transparent;
    text-transform: uppercase;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    -webkit-background-clip: text;
    background-clip: text;
}
.app__wrapper {
    width: 80%;
    margin: 18vh auto 3rem auto;
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    align-items: center;
    flex-wrap: wrap;
}
.app__overlay {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    color: gold;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
}
.box__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 2rem;
    /* flex: 25%; */
    margin: 0 auto;
    width: 250px;
    height:250px;
    position: relative;
}
.box-shadow_no{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: #3c3c3c;
    opacity: 0.5;
    top: 50%;
    transform: translateY(-50%);
}
.glow-on-hover {
    font-family: sans-serif;
    padding: 0.7rem 2.1rem;
    border: none;
    outline: none;
    color: #111;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@media screen and (max-width:768px) {
    .app__heading{
        font-size: 2rem;

    }
}